<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.MemberMapper">
    <insert id="insertMemberOne" parameterType="com.example.dto.Member">
        INSERT INTO member(id, password, name, age, role)
		VALUES(#{id}, #{password}, #{name}, #{age}, #{role})
    </insert>

    <select id="selectMemberOne" parameterType="com.example.dto.Member" resultType="com.example.dto.Member">
        SELECT m.id, m.name, m.age, m.role FROM MEMBER m WHERE m.id=#{id} AND m.password=#{password}
    </select>

    <update id="updateMemberOne" parameterType="com.example.dto.Member">
        UPDATE MEMBER SET NAME=#{name}, AGE=#{age} WHERE ID = #{id} 
    </update>

    <update id="deleteMemberOne" parameterType="com.example.dto.Member">
        UPDATE MEMBER SET PASSWORD=null, NAME=null, AGE=0, ROLE=null, REGDATE=null WHERE ID = #{id} AND PASSWORD = #{password}
    </update>

    <select id="selectMemberOne1" parameterType="string" resultType="com.example.dto.Member">
        SELECT * FROM member WHERE id=#{id}
    </select>

    <update id="updateMemberPw" parameterType="com.example.dto.Member">
        UPDATE member SET password=#{newpassword} WHERE id=#{id}
    </update>


</mapper>